* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main {
    position: relative;
    min-height: 100vh;
    background: radial-gradient(#bb526e, #b3355a, #8d1d3f);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 100px;

    header {
        min-width: 100%;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        
        .logo {
            max-width: 250px;
        }

        .nav {
            display: flex;
            li {
                list-style: none;
                a {
                    position: relative;
                    color: whitesmoke;
                    text-decoration: none;
                    margin-left: 40px;
                }
            }
        }

        .menu-toggle {
            display: none;
            flex-direction: column;
            cursor: pointer;
            span {
                width: 30px;
                height: 3px;
                background: whitesmoke;
                margin: 5px 0;
                transition: 0.3s;
            }
        }

        .menu-toggle.active span:nth-child(1) {
            transform: rotate(45deg) translate(8px, 8px);
        }

        .menu-toggle.active span:nth-child(2) {
            opacity: 0;
        }

        .menu-toggle.active span:nth-child(3) {
            transform: rotate(-45deg) translate(10px, -10px);
        }
    }

    .content {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text {
            width: 100%;
            max-width: 600px;

            h2 {
                color: #E9B9AF;
                font-size: 5em;
                font-weight: 300;
                line-height: 1.1em;
                margin: 20px 0;
                text-shadow: 2px 2px 5px #8d1d3f;
                i {
                    font-weight: 700;
                }
            }

            p {
                color: #4B0007;
                font-weight: 400;
                font-size: 1.1em;
                line-height: 1.5em;
                margin: 20px 0;

            }

            .btn {
                position: relative;
                display: inline-block;
                padding: 20px 50px;
                background: #E9B9AF;
                color: #4B0007;
                font-size: 1.1em;
                font-weight: 500;
                border-radius: 40px;
                text-decoration: none;
                transition: 0.25s;
                &:hover {
                    letter-spacing: 2px;
                }
            }
        }

        .content-img {
            position: relative;
            .imgMuestra {
                display: block;
                transition: 0.25s ease;

                &:hover {
                    transform: scale(0.9);
                }
                
                img {
                    width: 100%;
                    max-width: 600px;
                }
            }
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        padding: 30px 100px;
        justify-content: space-between;
        align-items: flex-end;
        
        .sci {
            display: flex;
            li {
                list-style: none;
                a {
                    color: whitesmoke;
                    font-size: 2em;
                    margin-right: 20px;
                    display: inline-block;
                    transition: 0.25s;
                    &:hover {
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        header {
            position: relative;

            .menu-toggle {
                display: flex;
                z-index: 3000;
            }

            .nav {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background: radial-gradient(#bb526e, #b3355a, #8d1d3f);
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;

                transform: translateY(-100%);
                transition: transform 0.4s ease;
                z-index: 2000;
            }

            .nav.active {
                transform: translateY(0);
            }

            .nav li a {
                font-size: 2em;
            }
        }
    }
}
